# ДАП экзамен

Время выполнения заданий — 2 часа (11:10 — 13:10). Жёсткий дедлайн загрузки файлов - 13:20. Экзамен включает в себя 3 обязательных задания и одно бонусное подзадание. Ответ на кодовую фразу не оценивается.   

Уточнения условия, если они будут, появятся в нашем канале. __Мы живем в сумрачном мире.__

__Ответ на кодовую фразу:__

## Exercise 1 [20 баллов] ("eeeeeee")

На вход поступает непустая строка. Вам нужно посчитать максимальную длину последователости состоящей только из буквы "e" (русская буква).

__Примеры:__

```
eee_func("е ее еее") -> 3
eee_func("е ее еее") -> 3
eee_func("экзамен ееееее") -> 6
eee_func("праздники ееееееeeee") -> 10
eee_func("экзамен ееееее, а потом праздники ееееееeeee") -> 10
```

In [5]:
def eee_func(text):
    max_ee = 0 
    length = 0 
    for i in range(len(text)): 
        if text[i] != 'е': 
            max_ee = max([max_ee,length]) 
            length = 0 
        else: 
            length += 1 
    if text[-1] == 'е': 
        max_ee = max([max_ee,length]) 
    
    # Тут нужно написать код
    
    return max_ee

Если вы написали функцию правильно, она пройдёт тесты ниже без ошибок. Если ваша функция прошла все тесты, это не означает, что она написана правильно.

In [6]:
assert eee_func("е") == 1, "Test 1 Failed"
assert eee_func("е ее еее") == 3, "Test 2 Failed"
assert eee_func("экзамен ееееее") == 6, "Test 3 Failed"
assert eee_func("праздники ееееееееее") == 10, "Test 4 Failed"
assert eee_func("экзамен ееееее, а потом праздники ееееееееее") == 10, "Test 5 Failed"

print("OK. Good Job! Eeeee!")

OK. Good Job! Eeeee!

## Extrasize 2 [40 баллов] (учим других)

Перед вами данные с оценками различных приложений. Ваша задача - построить модель, которая сможет прогнозировать будет ли приложение обладать высоким рейтингом.

__Примечание:__ если данные не парсятся с гита, просто перейдите по ссылке и скачайте табличку на свой компьютер.

In [3]:
import pandas as pd 

url = "https://raw.githubusercontent.com/FUlyankin/ML_for_marketing/master/drafts/drafts/AppleStore.csv"
df = pd.read_csv(url, index_col=0)
df.head()

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1

__а)__ оставьте в данных колонки `["price", "user_rating", "prime_genre", "lang.num", "size_bytes"]`

In [4]:
# Примерно 1 строчка кода 
df[["price", "user_rating", "prime_genre", "lang.num", "size_bytes"]]

       price  user_rating   prime_genre  lang.num  size_bytes
1       3.99          4.0         Games        10   100788224
2       0.00          4.0  Productivity        23   158578688
3       0.00          3.5       Weather         3   100524032
4       0.00          4.0      Shopping         9   128512000
5       0.00          4.5     Reference        45    92774400
...      ...          ...           ...       ...         ...
11081   0.00          4.5         Games         1   126644224
11082   0.00          4.5         Games         1   120760320
11087   1.99          4.5     Utilities         1   111322112
11089   0.00          4.5         Games         2    97235968
11097   0.00          5.0         Games         2    90898432

[7197 rows x 5 columns]

__б)__ на базе колонки `user_rating` создайте колонку `is_popular`, запишите туда $1$, если рейтинг приложения больше 4. Иначе запишите 0. Колонку `user_rating` удалите.

In [5]:
# Примерно 2 строчки кода
df.rename(columns={'user_rating': 'is_popular'}, inplace=True)
df[df.is_popular > 4].head(7)

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,is_popular,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1
9,284666222,PCalc - The Best Calculator,49250304,USD,9.99,1117,4,4.5,5.0,3.6.6,4+,Utilities,37,5,1,1
11,284791396,Solitaire by MobilityWare,49618944,USD,4.99,76720,4017,4.5,4.5,4.10.1,4+,Games,38,4,11,1
15,284862767,FreeCell,55153664,USD,4.99,6340,668,4.5,4.5,4.0.3,4+,Games,38,5,2,1
22,285946052,iQuran,70707916,USD,1.99,2929,966,4.5,4.5,3.3,4+,Reference,43,0,2,1
23,285994151,:) Sudoku +,6169600,USD,2.99,11447,781,5.0,5.0,5.2.6,4+,Games,40,5,1,1
25,286070473,Mileage Log | Fahrtenbuch,71203840,USD,5.99,8,0,4.5,0.0,9.0.5,4+,Business,37,5,3,1

__в)__ Сделайте OHE-преобразование. Категориальной будет только колонка `prime_genre`.

In [6]:
# Примерно 1 строка кода 
pd.get_dummies(df['prime_genre'])

,Book,Business,Catalogs,Education,Entertainment,Finance,Food & Drink,Games,Health & Fitness,Lifestyle,...,News,Photo & Video,Productivity,Reference,Shopping,Social Networking,Sports,Travel,Utilities,Weather
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11081,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11082,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11087,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
11089,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11097,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

__г)__ Выделите колонку `is_popular` в вектор $y$, а остальные колонки в матрицу $X$. Подгрузите метод `train_test_split`. Разбейте выборку на тренировочную и тестовую.

In [ ]:
# Примерно 4 строчки кода

__д)__ Обучите на тренировочной выборке две модели: случайный лес с $200$ деревьями и логистическую регрессию.

In [17]:
# Примерно 6 строчек кода

__е)__ Постройте прогнозы для тестовой выборке. Нарисуйте для обоих алгоритмов ROC-кривые на одной картинке. Найдите площадь под ROC-кривой. Какой алгоритм показал более высокое качество?

In [ ]:
# Примерно 7 строчек кода

__ё)__ Попробуйте подобрать для логистической регрессии сулу регуляризации `C` по решётке. Какое значение параметра оказалось самым лучшим? Найдите для самого хорошего алгоритма площадь под ROC-кривой на тестовой выборке. Удалось ли побить случайный лес?

In [ ]:
# Примерно 7 строчек кода

__з)__ Своими словами опишите зачем обычно выборку разбивают на тренировочную и тестовую. Объясните что такое кросс-валидация и зачем её придумали.

In [9]:
# Примерно абзац текста
Кросс валидация это процедура, используемая для оценки квалификации модели на новых данных. 
Общие тактики, которые можно использовать, чтобы выбрать значение k для набора данных. 
Широко используемые вариации кросс-валидации, такие как стратифицированные и повторяющиеся, которые доступны в scikit-learn
#https://codecamp.ru/blog/cross-validation-k-fold/

SyntaxError: invalid syntax (<ipython-input-9-fb22760499f5>, line 2)

"А где буква ж?" - спросите вы. Если бы мы выбросили букву ё, никто бы не спросил. А ей, между прочим, тоже обидно!

## Expecto Patronum 3 [40 баллов] (соскучились по мне?)

На страничке https://www.hse.ru/org/persons/ находится информация про сотрудников Вышки. Ваша задача спарсить её. Выберите свою любимую букву алфавита (конечно же такую, что на неё есть сотрудники на сайте). Напишите код, который соберёт все фамилии и имена преподавателей, а потом сохранит эту информацию в табличку формата `.csv`.

In [ ]:
# Ваш код

### [бонусные 20 баллов] 

Собери всех сотрудников вышке с ФИО, телефонами, должностями и информацией с личных страниц (оброзавание, достижения и тп).

In [ ]:
# :)